<div id="main" role="main">
  <div class="sidebar sticky">
  {% include author-profile.html %}
  </div>

  <div class="page__inner-wrap">
    <section class="page__content" itemprop="text">
      <h1>About</h1>
	  <p>Hi, I’m Antonio Vida and that is my personal Website.

	   <p>I'm a passionate Software Engineer and Java Developer. Creative, optimistic, dynamic and self-taught. interested in Amazon Web Services (AWS), cloud computing, innovation and business process management.</p>

	   <p>Extensive knowledge of professional engineering and coding experience in Java and working in an Agile environment.

		I am a big fan of solving complex problems and building products that help people.</p>

		<p>Some technologies that I use: </p>
		<p>Spring Boot, Java, Hibernate, Angular, JavaFX, Android, etc</p>