<div id="main" role="main">
  <div class="sidebar sticky">
  {% include author-profile.html %}
  </div>

<article class="page" itemscope itemtype="https://schema.org/CreativeWork">
    <meta itemprop="headline" content="About">
    
    
    

    <div class="page__inner-wrap">
      
        <header>
          <h1 id="page-title" class="page__title" itemprop="headline">About
</h1>
          
        </header>
      

      <section class="page__content" itemprop="text">
        
        <p>Hi, I’m Antonio Vida, a <b>passionate Full Stack Developer / Java Software Engineer </b> who loves helping people building awesome apps.</p>

<p>I’m creative, optimistic, dynamic and I enjoy learning new things all the time. I’m interested in Amazon Web Services (AWS) and cloud computing.</p>

<p>I really like to always challenge myself to improve at everything I do.</p>

<p>I am a big fan of <strong>solving complex problems</strong> and <strong>building products that help people</strong>.</p>

<p><strong>Technologies that I use</strong> Java, Spring, Angular, Python, Javascript, AWS (Amazon Web Services, Scrum, Android, etc</p>

      
      </section>
    </div>
  </article>
		
