<div id="main" role="main">
  <div class="sidebar sticky">
  {% include author-profile.html %}
  </div>

  <div class="page__inner-wrap">
    <section class="page__content" itemprop="text">
      <h1>About</h1>
	  <p>Hi, I’m Antonio Vida and this is my personal Website.

	   <p>I'm a <b>Software Engineer and Java Developer</b> who loves helping people building awesome apps. I'm creative, optimistic, dynamic and I enjoy learning new things all the time. 
	   I'm interested in Amazon Web Services (AWS) and cloud computing. I really like to always challenge myself to improve at everything I do.</p>

	   <p>Currently, I'm working on a European research project. I'm developing Software for improving fire management and wildfires fighting, taking action to help fight climate change.
		
		<br><br>I am a big fan of <b>solving complex problems</b> and <b>building products that help people</b>.</p>

		<p><b>Some technologies that I use:</b> </p>
		<p>Java, Spring, Angular, Python, Javascript, Android and AWS (Amazon Web Services </p>
		
